<h2>Milkode#Search</h2>

keyword: <%= @keyword %><br/>
result: <%= @results.size %><br/>

<hr/>
results:<br/>

<% @results.each do |result| %>
  <%= result[:repository_identifier] %>:
  <%= link_to(File.basename(result[:path]),
    :controller => 'repositories', :action => 'entry', :id => @project, :repository_id => result[:repository_identifier], :path => result[:path]) %><br/>
<% end %>
